@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Varela+Round&display=swap');

/*navbar*/

body {
    margin:0;
    padding:0;

}

header   {
    margin:0;
    padding:0;
}

header ul {
    margin-top: 0;
    display: flex;
    border-bottom: solid rgb(207, 52, 207) 1px ;
    padding: 18px;
	background-color: #0f0f0f;
    font-size: 250%;
}

/*fotos nav*/

#fotosnav{
    width: 6%
}

#fotoesp {
    width: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#fotoesp:hover {
    width: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

#fotonothin {
    width: 15%
}

#fotoeng {
    width: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#fotoeng:hover {
    width: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.lik{
    padding: 0px !important;
}

/*fotos nav*/

.nav_links {
	list-style: none
    rgb(226, 122, 226);
}

.nav_links li {
	display: flex;
	padding: 0px 40px;
    color: rgb(240, 123, 240);
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    padding: auto;
}

.nav_links li a {
	transition: all 0.1s ease 0s;
    text-decoration: none;
    color: rgb(207, 119, 207);
    padding: auto;
}

.nav_links li a:hover {
	color: rgb(160, 52, 145);
    transition: all 0.1s ease-in-out;
    user-select: none;
    cursor: pointer;
}

.langdiv {
    width: 10%;
    padding: 0%;
}

.lang {
    width: 50%;
    height: 60%;
}

/*navbar*/

.title {
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 500%;
    margin-top: 6.5%;
    margin-left: 14%;
    user-select: none;
}

#waffle {
    color: rgb(207, 52, 207);
}

.text {
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 200%;
    user-select: none;
    width: 50%;
}

#div1 {
    margin-left: 10%;
    width: 90%;
    text-align: justify;
}

.link {
    color: rgb(216, 107, 192);
    transition: all 0.2s ease-in-out;
}

.link:visited {
    color: rgb(216, 107, 192);
    transition: all 0.2s ease-in-out;
}

.link:active {
    color: rgb(216, 107, 192);
    transition: all 0.2s ease-in-out;
}

.link:hover {
    color: rgb(160, 52, 145);
    transition: all 0.2s ease-in-out;
}

.imgFooter {
    height: 30px;
    width: 54px;
    float: left;
    padding-top: 20px;
    padding-left: 14px;
}

#discord {
    outline: rgb(207, 52, 207) solid 2px;
    margin-left: 13%;
    margin-top: 50px;
    border-radius: 60px;
    cursor: pointer;
    height: 70px;
    float: left;
    width: 200px;
    transition: all 0.1s ease-in-out;
}

#discord:hover {
    outline: rgb(207, 52, 207) solid 5px;
    margin-left: 13%;
    margin-top: 50px;
    border-radius: 60px;
    cursor: pointer;
    height: 70px;
    float: left;
    width: 200px;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.textFooter {
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 28px;
    user-select: none;
    float: left;
    margin-top: 19px;
    padding-left: 5px;
}

#instagram {
    outline: rgb(207, 52, 207) solid 2px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 60px;
    cursor: pointer;
    height: 70px;
    float: left;
    width: 225px;
    transition: all 0.1s ease-in-out;
}

#instagram:hover {
    outline: rgb(207, 52, 207) solid 5px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 60px;
    cursor: pointer;
    height: 70px;
    float: left;
    width: 225px;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.imgFooter2 {
    height: 34px;
    width: 34px;
    float: left;
    padding-top: 20px;
    padding-left: 22px;
}

.textFooter2 {
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 28px;
    user-select: none;
    float: left;
    margin-top: 19px;
    padding-left: 10px;
}

#twitter {
    outline: rgb(207, 52, 207) solid 2px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 60px;
    cursor: pointer;
    height: 70px;
    float: left;
    width: 200px;
    transition: all 0.1s ease-in-out;
}

#twitter:hover {
    outline: rgb(207, 52, 207) solid 5px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 60px;
    cursor: pointer;
    height: 70px;
    float: left;
    width: 200px;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.imgFooter3 {
    height: 34px;
    width: 41px;
    float: left;
    padding-top: 20px;
    padding-left: 26px;
}

.textFooter3 {
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 28px;
    user-select: none;
    float: left;
    margin-top: 19px;
    padding-left: 10px;
}

#rainbowCat {
    height: 20%;
    width: 20%;
    float: right;
    margin-top: -10%;
    margin-right: 15%;
    transition: all 0.2s ease-in-out;
}

#rainbowCat:hover {
    height: 20%;
    width: 20%;
    float: right;
    margin-top: -10%;
    margin-right: 15%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transform: scale(1.23);
}

#nhtbs {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -20%);
    font-size: 400%;
    font-family: 'Varela Round', sans-serif;
    color: white;
}